div{
    width: 200px;
    height: 100px;
    background-color: blue;
    /*position: fixed;*/
    /*left: 100px;*/
    /*top: 5px;*/

    position: sticky;
    top: 0px;
}
div p{
    color: blueviolet;
}
h1,h2{
    
}