.parent{
    
    height: 550px;
    /* background-color:rgb(113, 13, 13); */
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* justify-content: end; */
    /* align-items: center; */
    /* background-image: url("./images/wallpaper2.jpg"); */
    background-size: cover;
}
body{
    background-image: url("./images/dog3.jpg");
    background-size: 70%;
    background-repeat: no-repeat;

}
.a2{
    display: block;
     /* background-color:white;  */
    -webkit-user-select: none;
     margin: 6px;
    color:rgb(31, 30, 30);
    background-color: hsl(0, 0%, 90%);
    background-size: cover;
    transition: background-color 300ms;

}

h1{
    margin-left: -1118px;
    margin-top: -7px;
}
#a1{
    margin-left:317px ;
    margin-top: -52px;
}
#a2{
    margin-left:506px ;
    margin-top: -42px;

}
#a3{
    margin-left:778px ;
    margin-top: -38px;
}

.col{
    width: 260px;
    height: 522px;
    border: 2px black solid;
    border-radius: 30px;
}
.col-1{
    background-color:black;
    color: aliceblue;
}
.col-2{
    background-color:black;
    color: aliceblue;
}
.col-3{
    background-color:black;
    color: aliceblue;
}

img{
    width: 100%;
    height: 120px;
    border-radius:30px ;
}
button{
    width: 100px;
    height: 30px ;
    border-radius:5px ;
    background-color: rgb(58, 14, 151);
    color: aliceblue;
    text-align: center;
    justify-content: center;

    

}
button:hover{
    background-color: aliceblue;
    color: rgb(218, 102, 25);
}
h3{
    text-align: center;
}
p{
    font-size: x-large;
}

div{
    text-align: center;
}
display: block;
background-color: hsl(0, 0%, 90%);
transition: background-color 300ms;
    margin: auto;
    cursor: zoom-out;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}